<div class="gmtk-body">
  <div class="gmtk-row">
    <div class="form-group">
      <label>Volk</label>
      <select name="race">{{selectOptions races selected=opts.race}}</select>
    </div>
    <div class="form-group">
      <label>Geschlecht</label>
      <select name="gender">{{selectOptions genders selected=opts.gender}}</select>
    </div>
    <div class="form-group">
      <label>Beruf</label>
      <select name="role">{{selectOptions roles selected=opts.role}}</select>
    </div>
  </div>
  <div class="gmtk-row">
    <div class="form-group">
      <label>Klasse</label>
      <select name="klass">{{selectOptions classChoices selected=opts.klass}}</select>
    </div>
    <div class="form-group">
      <label>Stufe</label>
      <select name="level">{{selectOptions levelChoices selected=opts.level}}</select>
    </div>
  </div>

  <button type="button" class="gmtk-primary" data-action="generate">
    <i class="fa-solid fa-dice"></i> NSC generieren
  </button>

  {{#if npc}}
  <div class="gmtk-result">
    <h2>{{npc.name}} <a class="gmtk-reroll" data-action="reroll" data-field="name" data-tooltip="Name neu würfeln"><i class="fa-solid fa-dice"></i></a></h2>
    <p class="gmtk-sub">{{npc.raceLabel}} · {{npc.genderLabel}} · {{npc.age}} Jahre · {{npc.roleLabel}} · {{npc.alignment}}
      <a class="gmtk-reroll" data-action="reroll" data-field="alignment" data-tooltip="Gesinnung neu würfeln"><i class="fa-solid fa-dice"></i></a></p>
    <p class="gmtk-stats">{{npc.classLine}} · {{npc.statLine}}
      <a class="gmtk-reroll" data-action="reroll" data-field="klasse" data-tooltip="Klasse & Stufe neu würfeln"><i class="fa-solid fa-dice"></i></a></p>
    <dl>
      <dt>Aussehen</dt><dd>{{npc.appearance}} <a class="gmtk-reroll" data-action="reroll" data-field="appearance"><i class="fa-solid fa-dice"></i></a></dd>
      <dt>Persönlichkeit</dt><dd>{{npc.personality}} <a class="gmtk-reroll" data-action="reroll" data-field="personality"><i class="fa-solid fa-dice"></i></a></dd>
      <dt>Stimme</dt><dd>{{npc.voice}} <a class="gmtk-reroll" data-action="reroll" data-field="voice"><i class="fa-solid fa-dice"></i></a></dd>
      <dt>Marotte</dt><dd>{{npc.quirk}} <a class="gmtk-reroll" data-action="reroll" data-field="quirk"><i class="fa-solid fa-dice"></i></a></dd>
      <dt>Motivation</dt><dd>{{npc.motivation}} <a class="gmtk-reroll" data-action="reroll" data-field="motivation"><i class="fa-solid fa-dice"></i></a></dd>
      <dt>Taschen</dt><dd>{{npc.pockets}} <a class="gmtk-reroll" data-action="reroll" data-field="pockets"><i class="fa-solid fa-dice"></i></a></dd>
      {{#if npc.spells}}
      <dt>Zauber</dt>
      <dd>
        {{#each npc.spells}}
        <div><b>{{this.grade}}:</b> {{#each this.spells}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</div>
        {{/each}}
        <a class="gmtk-reroll" data-action="reroll" data-field="spells" data-tooltip="Zauber neu würfeln"><i class="fa-solid fa-dice"></i></a>
      </dd>
      {{/if}}
      <dt class="gmtk-secret">Geheimnis</dt><dd class="gmtk-secret">{{npc.secret}} <a class="gmtk-reroll" data-action="reroll" data-field="secret"><i class="fa-solid fa-dice"></i></a></dd>
      <dt class="gmtk-secret">Aufhänger</dt><dd class="gmtk-secret">{{npc.hook}} <a class="gmtk-reroll" data-action="reroll" data-field="hook"><i class="fa-solid fa-dice"></i></a></dd>
    </dl>
    <div class="gmtk-actions">
      <button type="button" data-action="createActor"><i class="fa-solid fa-user"></i> Als Actor</button>
      <button type="button" data-action="saveJournal"><i class="fa-solid fa-book"></i> Als Journal</button>
      <button type="button" data-action="toChat"><i class="fa-solid fa-comment"></i> In den Chat</button>
    </div>
  </div>
  {{/if}}
</div>
